@media (min-width: 1000px) {
    :root .current-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem;
    }
    .current-container .current-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .5fr;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .current-container .current-box .current-description {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .current-container .current-box .main-current-info {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .current-container .current-box .main-current-info img {
        height: 150px;
        width: 150px;
    }
    .current-container .current-box .more-current-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .current-container .daily-boxes {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
        background: #FFFFFF;
        color: #800020;
        border-radius: 1rem;
        box-shadow: #75b5f9 0px -5px 10px;
    }
    .current-container .daily-boxes .daily-box {
        border: none;
    }
}

.current-box h1, .current-box p {
    margin: .5rem;
    display: block;
}

.current-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-box {
    background: #FFFFFF;
    border-radius: 1rem;
    color: #800020;
    padding: 1rem;
    width: 80%;
    margin-top: 1rem;
    box-shadow: #75b5f9 5px 5px 10px;
    font-family: 'Roboto', sans-serif;
}

.current-box h1, .current-box .temp {
    font-size: 2rem;
    font-weight: bold;
}

.current-box .temp {
    text-align: left;
}