@media (max-width: 450px) {
    :root .daily-forecast-container {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    :root .daily-boxes {
        flex-direction: row;
    }
}

.daily-forecast-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 85%;
    color: #800020;
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}

.daily-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-boxes .daily-box {
    width: 100%;
}